* {
    font-size: 100%;
}

a, a:hover {
    color: inherit;
    border: 0;
}
body {
    font-family: Raleway !important;
    overflow-x: hidden;
}

button {
    background: #0fffbe;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.background {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 3% 10%;
    padding-top: 8%;
    padding-bottom: 5%;
    position: relative;
    width: 100%;
}

.background .bg-image {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0.25, 0.55, 0.265, 1);
}
.background .bg-image img {
    height: 100%;
    width: 100%;
}
.background .bg-image:before {
    background: #000;
    background: linear-gradient(135deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 150%);
    content: '';
    height: 100%;
    opacity: 0.85;
    position: absolute;
    width: 100%;
}

/*.background:before {
    background: #000;
    content: '';
    height: 100%;
    opacity: 0.53;
    position: absolute;
    width: 100%;
}*/

.gone {
    display: none !important;
}

.line {
    /*flex-grow: 1;*/
    height: 2px;
    margin-right: 15px;
    margin-left: 50px;
    border-top: 1px solid #00000052;
}

.navbar {
    align-items: center;
    background: #fff;
    border-radius: 0px;
    display: flex;
    font-size: 0.7em;
    left: 0;
    padding: 3% 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar.transparent {
    background: transparent;
}
.navbar .nav-trigger {
    display: none;
    position: absolute;
    /*margin-right: 20px;*/
}
.navbar .logo, .navbar .special {
    width: 10%;
}
.navbar .logo h1 {
    font-size: 1.5em;
    font-weight: bold !important;
    font-family: Raleway !important;
    letter-spacing: 4px;
    margin: 0;
}
.navbar .logo .logo-white {
    display: none;
}
.navbar .logo img {
    width: 60%;
}
.navbar .nav {
    flex-grow: 1;
    text-align: right;
}
.navbar .nav>li {
    display: inline-block;
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0px 30px;
    position: relative;
}
.navbar .nav>li>a {
    padding: 0;
}
.navbar .nav>li span {
    position: relative;
}
.navbar .nav>li.active {
    font-weight: 700;
    padding: 3px 12px;
    border: 1px solid #c5c5c5;
    border-radius: 50px;
}
.navbar .nav>li.active:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -8px;
    width: 100%;
    height: 10px;
    background: #0fffbe;
    opacity: 0.6;
}
.navbar .nav>li:last-child {
    margin-right: 0px;
}
.navbar .special {
    text-align: right;
}
.navbar .special button {
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.navbar.text-white .logo .logo-default {
    display: none;
}
.navbar.text-white .logo .logo-white {
    display: block;
}

.text-white {
    color: #fff;
}

.nav.inline>li {
    display: inline;
    font-size: 0.9em;
    font-family: Raleway;
    font-weight: 400;
    padding: 15px 20px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}
.nav.inline>li>a {
    display: inline-block;
}
.nav.inline>li>a:hover {
    background: transparent;
}

.nav.inline>li:hover {
    background: #ffffff70;
}

.search-nav .nav {
    text-align: center;
}

.search-nav .nav>li.active:before {
    content: '';
    position: absolute;
    top: -1px;
    width: 100vw;
    left: -100vw;
    border-top: 1px solid #ffffffbd;
    height: 2px;
}

.search-nav .nav>li.active:after {
    content: '';
    position: absolute;
    top: -1px;
    width: 100vw;
    right: -100vw;
    border-top: 1px solid #ffffffbd;
    height: 2px;
}

.search-nav .nav>li.active {
    border: 1px solid #ffffff70;
    border-top-color: transparent;
}

.content {
    position: relative;
    flex-grow: 1;
}

.content .tab {
    display: none;
}

.content .tab:target {
    display: block;
}

.content h1 {
    font-family: Raleway;
    text-align: center;
    color: #fff;
    margin-top: 12%;
    margin-bottom: 2%;
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.input-wrapper {
    display: flex;
    background: #fff;
    border-radius: 8px;
    align-items: center;
    padding: 0px 25px;
}

.input-wrapper b {
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: 800;
    /*padding: 0px 25px;*/
}

.input-wrapper i {
    margin: 0 25px;
    font-size: 1.2em;
}

.field-row {
    display: flex;
    padding: 1% 20%;
    align-items: stretch;
}

.field-row .input-wrapper {
    margin-right: 4%;
    flex-grow: 1;
}

.field-row input, .field-row select {
    padding: 20px 25px;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: Raleway;
    border: 0;
    border-radius: 8px;
    height: auto;
    outline: none !important;
    box-shadow: none;
    width: 100%;
}

.field-row input[type="number"] {
    padding: 20px 0px;
    width: 50px;
}

.field-row button {
    padding: 20px 55px;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 8px;
}

.loading-screen {
    background: #fff;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    z-index: 2;
    /*opacity: 0;*/
}

.loading-wrapper {
    text-align: center;
    width: 100%;
    position: absolute;
    top: calc(50% - 60px);
    font-size: 0.8em;
}

.loading-text {
    margin-top: 30px;
    letter-spacing: 3px;
}

.loader {
    display: inline-block;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loader.small {
    display: inline-block;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 20px);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.margin-0 {
    margin: 0 !important;
}

.footer {
    position: relative;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 8%;
}

.ui-widget-content {
    background: #fff;
    color: #000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #000;
    border: 1px solid #00000057;
}

.ui-widget-header {
    color: #000;
}

.ui-datepicker .ui-datepicker-header {
    border-bottom: 1px solid #00000057;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #ffa22a;
    color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #ff7979;
    font-weight: normal;
    color: #fff;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #00daff;
    font-weight: normal;
    color: #fff;
}

.thumbnails {
    column-count: 3;
    column-gap: 70px;
}

.thumbnails .card {
    column-break-inside: avoid;
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}
.thumbnails .thumbnail {
    background-size: cover;
    background-image: url('../img/thumbnail-1.jpeg');
    border: 0;
    border-radius: 15px;
    height: 220px;
    overflow: hidden;
    padding: 0;
}

.thumbnails .thumbnail img {
    height: 100%;
    width: 100%;
}
.thumbnails .desc {
    /*height: 100%;*/
    width: 100%;
    background: #fff;
    /*margin-top: 200px;*/
    color: #000;
    font-size: 0.8em;
    padding: 20px 15px;
    padding-top: 35px;
    position: relative;
    box-sizing: border-box;
}
.thumbnails .desc:before {
    background: #000;
    box-shadow: 10px 0px 0px 0px, 20px 0px 0px 0px;
    /*content: '';*/
    height: 20px;
    left: 25px;
    position: absolute;
    top: 0px;
    width: 3px;
}
.thumbnails .desc .header {
    display: flex;
    align-items: end;
}
.thumbnails .desc .header>div:first-child {
    flex-grow: 1;
}
.thumbnails .desc .header>div:first-child>p {
    margin-top: 5px;
    margin-bottom: 0px;
}
.thumbnails .desc .header>.location {
    position: relative;
    width: 30px;
    letter-spacing: 1px;
    line-height: 10px;
    font-size: 0.55em;
    font-weight: 900;
    word-break: break-word;
    padding: 8px 0px;
}
.thumbnails .desc .header>.location:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #00cca4;
    top: 0;
    left: 8px;
}
.thumbnails .desc .header>.location span {
    background: #fff;
    padding: 2px 0px;
    position: relative;
    width: 60px;
    text-transform: uppercase;
}
.thumbnails .desc .header b {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2em;
}
.thumbnails .desc .header small {
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: 2px;
}
.thumbnails .desc .header p {
    letter-spacing: 1px;
    /*border-bottom: 1px dashed #dcdcdc;*/
    padding-bottom: 20px;
    /*margin-top: 10px;*/
}
.thumbnails .desc .header p span {
    font-size: 1em;
    font-weight: 500;
    /*color: #ffc53e;*/
}
.thumbnails .desc .header p span.luas-area {
    font-size: 1.8em;
}
.thumbnails .desc .variant {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.thumbnails .desc .variant .line {
    height: 2px;
    border-top: 1px solid #b5b5b5;
    flex-grow: 1;
    margin: 0px 20px;
}
.thumbnails .desc .variant p {
    margin: 0;
}
.thumbnails .desc .list-icons {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
}
.thumbnails .desc .list-icons span {
    flex-grow: 1;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-right: 8px;
    margin-top: 8px;
}
.thumbnails .desc .room-info {
    /*display: flex;*/
    padding: 10px 0px;
    font-size: 0.8em;
    border-bottom: 1px dashed #dcdcdc;
    letter-spacing: 2px;
}

.thumbnails .desc .room-info>div {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: block;
        padding: 7% 10% !important;
        min-height: 5%;
    }
    .navbar.show-menu {
        min-height: 100%;
        background: #fff;
        color: #000 !important;
    }
    .navbar.show-menu .logo .logo-white {
        display: none;
    }
    .navbar.show-menu .logo .logo-default {
        display: block;
    }
    .navbar.show-menu .nav {
        display: block;
    }
    .navbar .nav {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 30%;
        text-align: center !important;
    }
    .navbar .nav>li {
        display: block;
        font-size: 1.2em !important;
        font-weight: 700 !important;
        letter-spacing: 2px !important;
        margin: 45px 0px;
    }
    .navbar .logo {
        width: 100% !important;
        /*flex-grow: 1;*/
        text-align: center;
    }
    .navbar .logo img {
        width: 12%;
        margin: auto;
    }
    .navbar .logo h1 {
        font-size: 1em;
    }
    .navbar .nav-trigger {
        display: block;
        font-size: 1.5em;
        cursor: pointer;
        margin-top: .4rem;
        z-index: 5;
    }
    .navbar .special {
        display: none;
    }

    .thumbnails .desc .header>.location {
        width: 40px;
        line-height: 15px;
    }
}