a, a:hover {
    color: inherit;
    border: 0;
}

body {
    font-family: Raleway !important;
}

.font-number {
    font-family: Consolas;
}

.navbar .logo, .navbar .special {
    width: 10%;
}

.navbar .special img {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 10px;
}

.content .result-info {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.content .result-info .desc {
    flex-grow: 1;
}

.content .result-info .desc p {
    font-size: 1em;
    letter-spacing: 2px;
}

.content .result-info .desc p>b {
    font-weight: 800;
}

.content .result-info .desc span {
    font-size: 1em;
    letter-spacing: 2px;
}

.content .result-info .sorting {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.content .result-info .sorting>ul {
    margin: 0;
    padding-left: 15px;
}

.content .result-info .sorting ul>li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    font-weight: 600;
    cursor: pointer;
    
}
.content .result-info .sorting ul>li:first-child {
    border-right: 0;
}
.content .result-info .sorting ul>li.active {
    background: #0fffbe;
}

.animation {
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0.25, 0.55, 0.265, 1);
}